%h3
  Добро пожаловать!
%legend
.text-container
  %p
    Lorem ipsum — это подобие латинского текста. С давних пор оно
    %a{href:"http://www.artlebedev.ru/kovodstvo/sections/67/"}
      широко известно
    в определённых кругах. Почему-то считается,
    что именно им хорошо заполнять примеры веб-страниц. Настоящий текст есть не всегда,
    а выдумывать подходящий вроде как не входит в обязанности дизайнера.
    Возможно, некоторые авторы думают, что наличие в тексте смысла будет отвлекать
    внимание и исказит впечатление от «дизайна».
  %p
    Лично я считаю, что на странице должен быть именно осмысленный текст,
    и его наличие никак не испортит впечатления. А вот как раз Lorem ipsum
    уже давно примелькался и влияет на восприятие. Лучше уж вставить другой бессмысленный текст,
    но не Lorem ipsum. Кроме того, русский текст всегда выглядит совсем иначе из-за кириллицы.
    Поэтому если вы знаете, что страница будет на русском, вставляйте в неё хотя бы русский
    бессмысленный текст. Есть замечательный
    %a{href: "http://vesna.yandex.ru/"}
      бредогенератор Яндекса
    , в котором можно даже выбрать примерную тематику.
  %p
    Но если уж вам так хочется именно латыни, то осмысленный латинский текст можно взять из
    %a{href: "http://la.wikipedia.org/"}
      латинской википедии.
    Статей там, правда, гораздо меньше, чем в русской или английской, да и большинство из них —
    лишь заготовки в пару предложений. Статьи с длинными текстами нужно искать. Ищите их в
    %a{href: "http://la.wikipedia.org/wiki/Vicipaedia:Pagina_mensis", title: "Paginae mensis"}
      статьях месяца
    или просто всамых длинных статьях. Посмотрите, например, сколько чудесного абстрактного текста есть
    в статье Теория струн

  %p
    Лично я считаю, что на странице должен быть именно осмысленный текст,
    и его наличие никак не испортит впечатления. А вот как раз Lorem ipsum
    уже давно примелькался и влияет на восприятие. Лучше уж вставить другой бессмысленный текст,
    но не Lorem ipsum. Кроме того, русский текст всегда выглядит совсем иначе из-за кириллицы.
    Поэтому если вы знаете, что страница будет на русском, вставляйте в неё хотя бы русский
    бессмысленный текст. Есть замечательный
    %a{href: "http://vesna.yandex.ru/"}
      бредогенератор Яндекса
    , в котором можно даже выбрать примерную тематику.